// Colors

$white: #ffffff;
$black: #000000;
$red: #e60000;
$darkShaft: #323232;
$lightShaft: #333333;
$silver: #cccccc;
$dustyGray: #999999;
$mercury: #e6e6e6;
$wildSand: #f5f5f5;
$silverChalice: #a0a0a0;

// Fonts